$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 90, 100, 110, 120, 130);

@mixin generate-margin-bottom() {
  @each $space in $spaceamounts {
    .mb-#{$space} {
      margin-bottom: #{$space}px !important;
    }
  }
}
@mixin generate-margin-right() {
  @each $space in $spaceamounts {
    .mr-#{$space} {
      margin-right: #{$space}px !important;
    }
  }
}
@mixin generate-margin-left() {
  @each $space in $spaceamounts {
    .ml-#{$space} {
      margin-left: #{$space}px !important;
    }
  }
}
@mixin generate-margin-top() {
  @each $space in $spaceamounts {
    .mt-#{$space} {
      margin-top: #{$space}px !important;
    }
  }
}
@mixin generate-padding-top() {
  @each $space in $spaceamounts {
    .pt-#{$space} {
      padding-top: #{$space}px !important;
    }
  }
}
@mixin generate-padding-bottom() {
  @each $space in $spaceamounts {
    .pb-#{$space} {
      padding-bottom: #{$space}px !important;
    }
  }
}

@include generate-margin-bottom();
@include generate-margin-left();
@include generate-margin-right();
@include generate-margin-top();
@include generate-padding-bottom();
@include generate-padding-top();