section.page-content(v-show='inactive', v-touch:swipeleft='endSession', v-touch:tap='goBackToDashboard')
  .page-content__inner
    .content__appeal
      .content
        | Are you still there?
        br
        | Swipe left to end your session or tap to return to The Mosaic.
  .page-content__bottom-bg
