language: node_js
sudo: true
cache:
  directories:
  - node_modules
node_js:
- stable
script:
- npm test
deploy:
  provider: cloudfoundry
  api: https://api.ng.bluemix.net
  username: germanatt@us.ibm.com
  password:
    secure: rYqzlp1D8TMx7WDZi/VSEzlAEyrVP0yjM710XcL2pZ6Ar1r+6e1A0vqO6Bzmpem5Wbo4lH0G/qepmExMflSdoQPKVcECIIsATfRUgIL57An9fhT3wbI768Eq5mTf2YdEDVwo1n36NchCxE/dIFeEngYtjeDYjGU17dqnS2EfkCe2xlORVmL1TQWWusEkUTc62LfCgdHRZYmF7Cqj1o75V2TE9Q50N8BpTHZkPunOpbUprmHmWfE2wRBcyBHVIF1YSgLJxk1SuFW4xrg9jehHh6zKRjLKNfW8t6Gr0d5/54byccDwN5AebkiThjjfkgNOGOFMBBTGCufE9+N4nThrmvuXpBZ/aBPFNZK1dGLQWWVIdJSv6REDY2cc39zTKFFSdFL3BagLsapMiGGy/pWgk6n/ZFITAJ0AAI0fc+QtixqQe4j0CfrEpy4XfyyBdCnbYmXgh+D9bVJpIUGGGE13SmT+wsZ/1camQ5xUhvgU3ZOltcYH7bbjbjye85oLbAiltgWx9VatGiFfXFDcOYNKUrbgIQGuscmR14Ae9VHnCczS2LV9GPM1sN5TA+IL6NNoxe1b+6AeYSct5UnLebK8RtUCaSa8sLPCuCXx4WkEy2lEnknjRoLRcrwzsky37p9izL3TuFoY1E1+jVI0UNlMcagtIrUKJ9Z56RMDXi+gEvU=
  organization: WatsonPlatformServices
  space: appgallery
  on:
    repo: germanattanasio/watson-experience
