#askTwitterModal {

  h1 {
    color: white;
    text-align: center;
    margin: 0 0 25px;
  }

  &.modal {
    text-align: center;
    padding: 0 !important;
  }
  &.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 460px;
  }

  .first-padding {
    padding: 25px;
  }

  .second-padding {
    padding: 25px;
    background: darken($col-silver,25%);
  }

  .modal-content {
    padding: 0;
    background: $col-red;
    border-radius: 0;
    border: 0 none;
  }

  .modal-body {
    padding: 0;
  }

  .modal-row__title {
    p {
      color: $white;
      font-family: $hevleticaLt;
      font-size: 25px;
      display: block;
      margin: 0 0 20px;
      padding: 0 0 0 180px;
      background: url("../images/ico-twitter.svg") no-repeat 0 0 / 147px 119px;
    }
  }

  .modal-row__input {
    margin: 0 0 20px;
    .input-with-icon {
      position: relative;
    }
    i {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 5px;
      color: $col-font-std;
      font-size: 40px;
    }

    .helper-message {
      padding: 8px;
      background: darken($col-silver,25%);
      color: white;
      font-weight: bold;
    }
    input {
      border: 1px solid #323d3c;
      height: 60px;
      width: 100%;
      line-height: 60px;
      padding: 0 15px 0 60px;
      color: $col-font-std;
      font-size: 20px;
    }
  }

  .modal-row__button {
    text-align: right;

    a {
      font-family: $hevleticaLt;
      font-size: 25px;
      color: $white;
      display: inline-block;
      vertical-align: middle;

      i {
        vertical-align: middle;
        margin-left: 15px;
        display: inline-block;
        width: 60px;
        height: 60px;
        background: url("../images/ico-arrow-right-white.svg") no-repeat 50% 50% / 15px 30px $col-attention;
        transition: background-color 0.3s ease;
      }
      &:hover {
        i {
          background-color: $col-red-light;
        }
      }
    }
  }
}

#privacy-modal {

  &.modal {
    text-align: center;
    padding: 0 !important;
  }
  &.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 660px;
  }

  .modal-content {
    padding: 15px;
    background: $col-dark;
    border-radius: 0;
    border: 0 none;
  }

  .modal-row__title {
    p {
      color: $white;
      font-family: $hevleticaLt;
      font-size: 25px;
      display: block;
      margin: 0 0 20px;
      padding: 0;
      text-align: center;
    }
  }

  .privacy-box {
    height: 400px;
    overflow-y: scroll;

    a,
    li,
    p {
      color: white;
      font-size: 15px;
      font-family: $hevleticaLt;
      text-align: left;
    }

    ol,
    p,
    ul {
      margin: 0 25px 15px 0;
    }
  }

  .modal-row__input {
    margin: 0 0 20px;
    input {
      border: 1px solid #323d3c;
      height: 50px;
      width: 100%;
      line-height: 50px;
      padding: 0 15px;
      color: white;
    }
  }

  .modal-row__button {
    text-align: right;
    a {
      height: 60px;
      line-height: 60px;
      font-family: $hevleticaLt;
      font-size: 25px;
      color: $white;
      display: inline-block;
      width: 160px;
      vertical-align: middle;
      i {
        vertical-align: middle;
        margin-left: 15px;
        display: inline-block;
        width: 60px;
        height: 60px;
        background: url("../images/ico-arrow-right-white.svg") no-repeat 50% 50% / 15px 30px $col-attention;
        transition: background-color 0.3s ease;
      }
    }
  }
}

#ask-for-terms {

  &.modal {
    text-align: center;
    padding: 0 !important;
  }
  &.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 460px;
  }

  .modal-content {
    padding: 15px;
    background: $col-dark;
    border-radius: 0;
    border: 0 none;
  }

  .modal-row__title {
    p {
      color: $white;
      font-family: $hevleticaLt;
      font-size: 25px;
      display: block;
      margin: 0 0 20px;
      padding: 0;
      text-align: center;
    }
  }

  .modal-row__input {
    margin: 0 0 20px;
    input {
      border: 1px solid #323d3c;
      height: 50px;
      width: 100%;
      line-height: 50px;
      padding: 0 15px;
      color: white;
    }
  }

  .modal-row__button {
    text-align: right;
    a {
      height: 60px;
      line-height: 60px;
      font-family: $hevleticaLt;
      font-size: 25px;
      color: $white;
      display: inline-block;
      width: 160px;
      vertical-align: middle;

      i {
        vertical-align: middle;
        margin-left: 15px;
        display: inline-block;
        width: 60px;
        height: 60px;
        background: url("../images/ico-arrow-right-white.svg") no-repeat 50% 50% / 15px 30px $col-attention;
        transition: background-color 0.3s ease;
      }
      &:hover {
        i {
          background-color: $col-red-light;
        }
      }
    }
  }
}
