extends ./layouts/master.jade

block content
  section.page-content
        #sunburstChartContainer(v-show='toggle_sunburst')
        .page-content__inner
          .content__greetings
            .avatar(data-default="images/watson.jpg")
              img(src='#{locals.session.image}')
            .content #{locals.session.gretting}.
              if locals.session.twitter
                #has-twitter-handle.twitter #{locals.session.twitter}.

          .build-persona
            .build-persona__title(v-show='!personality_insights_loaded') Building your Personality Insight
            .build-persona__title(v-show='personality_insights_loaded') Your Personality Insight is ready
            .build-persona__content(style='padding-right: 0;') Personality Insights extracts and analyzes a spectrum of personality attributes to help discover actionable insights about people and entities, and in turn guides end users to highly personalized interactions.
            .build-persona__continue(v-show='! personality_insights_loaded')
              a(href='javascript:;')
                | loading your Personality Insight 
                i.fa.fa-spin.fa-spinner
            .build-persona__continue(v-show='toggle_sunburst', style='z-index: 3000000000000; position: relative; top: 100px; left: 20px;')
              a(href='/dashboard')
                | continue to Watson apps 
                i.icon-ico-arrow-right-circle
            .build-persona__continue(v-show='personality_insights_loaded && !toggle_sunburst')
              a(v-on:click.prevent='toggleSunburst()')
                | {{ view_text }} 
                i.icon-ico-arrow-right-circle
            .build-persona__signs
              img(src="images/logo-earth.svg", width='75px')
              img(src="images/cogc-02.svg", width='60px')
      #sunburst-transparent(v-show='toggle_sunburst')